@charset "UTF-8";

/* diferentes midias */

/* Pesquisar por: Typical Device Breakpoints

Pequenas telas: até 600px
Celular: de 600px até 768px
tablet: 768 até 992px
Descktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: url('../imagens/back-tablet.jpg'); 
    }

    img#cell {display: none; }
    img#tablet {display: block; }
    img#imp {display: none; }
    img#pc {display: none; }
    img#tv {display: none; }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body{
        background-image: url('../imagens/back-pc.jpg'); 
    }

    img#cell {display: none; }
    img#tablet {display: none; }
    img#imp {display: none; }
    img#pc {display: block; }
    img#tv {display: none; }
}

@media screen and (min-width: 1200px) {
    body{
        background-image: url('../imagens/back-tv.jpg'); 
    }

    img#cell {display: none; }
    img#tablet {display: none; }
    img#imp {display: none; }
    img#pc {display: none; }
    img#tv {display: block; }
}